.module {
    display: inline-block;
    position: relative;
}

.target {
    /* background-color: hsla(0, 0%, 0%, 0.2); */
    user-select: none;
    padding: 10px 10px;
}

.active {
    background-color: #273642;
    color: white;
}

.target:hover {
    cursor: pointer;
    background-color: #273642;
}

.target svg {
    margin-left: 10px;
    pointer-events: none;
}

.items {
    position: absolute;
    background-color: #273642;
    color: white;
    border-radius: 0 0 2px 2px;
    width: 100%;
    max-height: 50vh;
    overflow: auto;
    top: 30px;
    box-shadow: 0px 3px 5px -3px #6a6a6a;
}

.items a {
    color: white;
}